h1 {
  color: #335C67;
  font-family: 'League Gothic' sans-serif;
  font-size: 3rem;
  animation: pulse 3.5s infinite;
  margin: 0;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

img {
  width: 150px;
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.loader {
  width: 300px;
  height: 10px;
  background: #335C67;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2rem;
}

.bar {
  height: 100%;
  width: 40%;
  background: #C19208;
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(-100%);
  }
}